$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

@mixin phone {
  @media screen and (max-width: #{$tablet-breakpoint - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.1;
  letter-spacing: 0.4rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  @include tablet {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
  text-align: center;
}

section {
  max-width: 800px;
  margin: 0 auto;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  & h4 {
    font-size: 1.5em;
  }
}

#stats {
  display: none;
  gap: 2rem;
  text-align: center;

  @include tablet {
    display: block;
  }
}

.player {
  @include tablet() {
    width: 250px;
  }
}

.ratio {
  display: flex;
  font-size: 2rem;
}

.choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  & button {
    font-size: 1.5rem;
    line-height: 1.25rem;
    font-weight: 600;
    background-color: #646cff60;
    border: 2px solid #646cff;
    max-width: 50%;
    padding: 1.5rem;
    margin: 1rem auto;
    border-radius: 2rem;
    @include tablet {
      padding: 1rem;
    }
    @include desktop {
      padding: 3rem 4rem;
    }
    &:hover {
      background-color: #646cff;
    }
    & img {
      width: 4em;
      height: 4em;
      @include tablet {
        width: 5em;
        height: 5em;
      }
    }
  }

  @include tablet {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;

    text-align: center;
  }
  @include desktop {
    gap: 2rem;
  }
}

#replay {
  max-width: 600px;
}

button#replay {
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #3d4186;
  background-color: #646cff;
  padding: 0 2rem;
  border-radius: 1rem;
  &:hover {
    background-color: #646cff60;
    border: 2px solid #646cff;
  }
}

button.hide {
  display: none;
}

img {
  width: 100px;
  height: 100px;
}

.results {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
}

footer {
  display: none;
  text-align: center;

  margin: 0 auto;
  @include tablet {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ceebef;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
